@import url("https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@700&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@layer base {
  html {
    @apply font-lexend scroll-smooth overscroll-none;
  }
}

@layer components {
  .purpleButton {
    @apply px-2 py-1 font-semibold text-white border-2 border-black rounded-md bg-purple;
  }

  .whiteButton {
    @apply px-2 py-1 font-semibold text-black bg-white border-2 border-black rounded-md;
  }

  .blueButton {
    @apply px-2 py-1 font-semibold text-black border-2 border-black rounded-md bg-blue;
  }
}
